# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.android/
.ios/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro / debug
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS / Windows
.DS_Store
Thumbs.db

# local env files
.env*.local

# TypeScript
*.tsbuildinfo
